@charset "UTF-8";

/* telas médias */
 @media screen and (min-width: 768px) and (max-width: 992px){
    #burguer {
        display: none;
    }
    menu {
        top: 5%;
        right: 5%;
    }
    menu > ul > li{
        display: inline-block;
    }
    menu > ul {
        display: inline-block;
    }
    menu > ul > li > a > img {
        width: 18px;
        padding: 0px
    }
    #contatos > h1 {
        display: none;
    }

    section#box {
        transform: translate(10%, 30%);
        width: 200px;

    }
    section div#projeto img{
        width: 200px;
    }
 }
 @media screen and (min-width: 992px) { /*TELAS GRANDES*/
    #burguer {
        display: none;
    }
    menu {
        top: 5%;
        right: 5%;
    }
    menu > ul > li{
        display: inline-block;
    }
    menu > ul {
        display: inline-block;
    }
    menu > ul > li > a > img {
        width: 18px;
        padding: 0px
    }
    #contatos > h1 {
        display: none;
    }

    section#box {
        transform: translate(10%, 30%);
        width: 200px;


    }
    section div#projeto img{
        width: 200px;
    }
}