@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');

:root {
    --corletra: #f0f8ff;
    --cordestaque1: #E1E448;
    --cordestaque2: #abad37;
    --corpreto: rgba(0, 0, 0, 0.664);
    --shadow: rgba(0, 0, 0, 0.74);
}
* {
    font-family:"Abhaya Libre", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 1em; /*1 em = 16px*/
    color: #f0f8ff;
    margin: 0px;
    padding: 0px;
      
}
header {
    background-color: rgba(6, 6, 10, 0.829);
    text-align: right;
}
body{
    display: block;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--corpreto);
    background-image: url(../Imagens/pccortenew.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#burguer {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    padding: 6px;
    background-color: var(--corpreto);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s, height 0.5s;
    z-index: 999;
    
}
#burguer:hover{
    background-color: rgba(0, 0, 0, 0.774);
    color: var(--cordestaque1);

}
menu {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    text-align: right;
    border-radius: 6px;
    background-color: var(--corpreto);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: width 0.5s, height 0.5s;
    z-index: 998;
}
menu > ul {
    list-style-type: none;
}
#contatos {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
}
#contatos > h1 {
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    border-top: 0.5px solid #23232475;
}
menu > ul > li > a {
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: right;

}

menu ul > li > a:hover {
    color: var(--cordestaque1);
}
menu ul > li > a > img:hover {
    border-radius: 10px;
    transition-duration: 0.2s;
}

main {
    height: 100vh;
    background-color: rgba(6, 6, 10, 0.829); /*fundo main borra img*/
    background-attachment: fixed;
}
main section#cont {
    display: block;
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--corpreto);
    box-shadow: 2px 4px 8px var(--shadow);
    padding: 20px;
    border-radius: 10px;
    transition: width 0.5s, height 0.5s;

}


main h1#ola {
    display: inline-block;
    font-size: 16px;
    height: 15px;
    width: 200px;
     
}
main h1#nome {
    font-size: 60px;
    color: var(--cordestaque1);

}
main h2 {
    font-size: 20px;
    color: var(--cordestaque2);
    margin-bottom: 0px;
    margin-top: 40px;
}

main .p {
    font-size: 16px;
}

/* Pag projetos*/

section#box {
    display: flex;
    position: absolute;
    width: 90vw;
    transform: translate(5%, 20%);

}

/*projeto Vans*/
section div#projeto {
    background-color: 
    var(--corpreto);
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    width: 200px;
    height: 250px;
}
section div#projeto img{
    width: 200px;
    border-radius: 12px;
}
section div#projeto img:hover{ 
    border-radius: 50%;
    transition-duration: 0.5s;
}

section div#projeto p {
    font-size: 13px;
    text-align:left;
}
section div#legenda {
    padding: 5px;
    width: 200px;
}

/**/